.dashBoard .logOut {
  background-color: #51BB56;
  max-height: 80px;
  text-align: right;
}

.dashBoard .logOut span {
  color: #FFF;
  font-size: 20px;
  float: left;
  padding: 25px 30px 0 35px;
}

.dashBoard .logOut button {
  font-size: 20px;
  margin: 15px 30px 15px 0;
  background-color: #8CE763;
  padding: 8px 20px;
  border: 0;
  border-radius: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;

  color: #FFF;
  text-decoration: none;
}

.dashBoard .logOut button:hover{
  background-color: #8CE763;
}